@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
}
body{
    background-color: gainsboro;
}
#menu{
    background-color: #25252561;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    color: aliceblue;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}
#menu-content{
    background-color: #252525;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    border: 2px solid gray;
    width: 300px;
    height: 88%;
    border-radius: 20px;
    right: -350px;
    position: fixed;
    transition: right 0.3s ease;
    z-index: 1000;
    margin: 10px;
}
#menu-btn{
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    background-color: #25252561;
    border: 2px solid gray;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    width: 300px;
    height: 40px;
    margin: 10px;
    z-index: 10;
}
button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 0;
    color: black;
}
#home{
    color: aliceblue;
}